
h1{
    background-color:rgb(175, 18, 175);
    color: rgb(238, 215, 227);
    text-align: center; 
    font-size: 36px;
    font-weight: bold;
    height: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

main{
    float: inline-end;
    box-sizing: content-box;
    display: flex;
    width: 100%;
    float: left;
}

footer{
    background-color:rgb(90, 8, 131);
    color:rgb(238, 215, 227);
    text-align: right; 
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 50px;
}

body{
    background-image: url(cherry_blossom_and_blue_sky-beauty_spring_desktop_wallpaper_1920x1440.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

